{% extends "TestResults/layout.html" %}

{% block body %}
<div class="container">
    <h1>Ballistic Throw simulation</h1>
    <h2>Enter the following parameters:</h2>
</div>
<hr>
    <div class="container input-sim-form">
        <!-- {% csrf_token %} -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="height">Initial Height:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="height" id="height">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="velocity">Initial velocity:</label>
            <div class="col-sm-10">
                <input type="number"  class="form-control" name="velocity" id="velocity">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="angle">Initial angle:</label>
            <div class="col-sm-10">
                <input type="number"  class="form-control" name="angle" id="angle">
            </div>
        </div>
        <button class="btn btn-primary">Run Simulation!</button>
    </div>
<hr>
<div class="results-display"></div>
<div class="chart-container">
    <canvas id="graph-area"></canvas>
</div>


{% endblock %}